<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <a href="http://csvsoundsystem.com" target="_blank">
          <img src="http://csvsoundsystem.com/csvsoundsystem.png" alt="csv soundsystem" id="csv-sticker"/>
        </a>
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a href="https://github.com/csvsoundsystem">github.com/csvsoundsystem</a><br />
                <a href="https://twitter.com/csvsoundsystem">twitter.com/csvsoundsystem</a><br />
              </p>
            </div>
          </div>
        </div>
        <!-- Piwik -->
        <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.thomaslevine.com/" : "http://piwik.thomaslevine.com/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 14);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script><noscript><p><img src="http://piwik.thomaslevine.com/piwik.php?idsite=14" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->

    </body>
</html>
