<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a href="https://github.com/csvsoundsystem">github.com/csvsoundsystem</a><br />
                <a href="https://twitter.com/csvsoundsystem">twitter.com/csvsoundsystem</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
